.container{
  margin: 20px;
}


:host {
  display: block;
  min-height: 100vh;
  background-color: var(--bg-panel);
}

.items{
  display: flex;
  flex-direction: column;
}

.items button:hover{
  background-color: var(--ghost);

}


.user{
	margin-top: 0px;
}

.container input{
  font-size: 20px;
  width: 90%;
}
