.container{
				display: flex;
				justify-content: center;
				height: 500px;
				width: 500px;
}

.account-header {
				margin-right: 100px;
}


button{
				background: var(--secondary);
				border: none;
				color: white;
				font-size: 20px;
}

button:hover{
				background-color: var(--secondary-hover);
}

.buttons{
				position: absolute;
				left: 10px;
				top: 100px;
}


.name{
				display: grid;
				grid-template-columns: repeat(1,1fr);
				position: absolute;
				top: 50px;
				left: 0px;
				width: 350px;
}

.name button{
				background: transparent;
				color: white;
				border: none;
				text-align: left;
}

.name button:hover{
				background-color: var(--surface-color);
}
