<div class="container">
    <h1 style="display:flex;justify-content: center;font-size: 30px">Account</h1>

    @if (username) {
        <div class="user-table">
        <div style="display:flex;flex-direction: row;gap: 10px;margin-bottom: 10px">
          <!-- 
          <button (click)="onAddAccount()" style="font-size: 17px;">Add Account</button>
          <button (click)="onRemoveAccount()" style="font-size: 17px;">Remove Account</button>
          -->
        </div>
          <table >
            <th>Username</th>
            <th>Created At</th>
            <tr>
              <td>{{ username }}</td>
              <td>{{ account_created_at }}</td>
            </tr>
          </table>
        </div>
    } @else {
        <div class="logout-text">
            <strong>You are not logged in!</strong>
            <button title="Login" (click)="onLogin()">Add Account</button>
        </div>
    }
</div>
