.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--input-color);
}

.loader-container{
  display: flex;
  justify-content: center;
  margin-top: 200px;

}

.header{
  display: flex;
  justify-content: center;
}

:host{
  display: block;
  min-height: 100vh;
  background-color: var(--bg-panel);
}

.tabs button{
  width: auto;
  font-size: 18px;
}

.tab {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  gap: 10px;
  margin: 10px;
  overflow-x: hidden;
}
.tab button {
  background: transparent;
}

.tab button:hover {
  background-color: var(--ghost);
}

.search-bar {
  display: flex;
  justify-content: left;
  padding: 10px;
}
.search-bar input {
  font-size: 20px;
  width: 100%;
}

.active {
  background-color: var(--accent-color);
}


