.tabs{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: var(--input-color);
}

button{
  background-color: var(--ghost);
}

button:hover{
  background-color: var(--material-primary);
}

.tab{
  display: grid;
  grid-template-columns: repeat(11,1fr);
  margin: 10px;
  overflow-x: hidden;
}
.tab button{
  background: transparent;
}

.tab button:hover{
  background-color: var(--material-primary);
}

.search-bar{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.emoji-desc{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

