<div class="top">
  <div class="search-bar">
    <input spellcheck=false [(ngModel)]="searchValue"  placeholder="Search...">
  </div>
  <div class="tabs">
    <button [ngStyle]="{ 'background-color': currentTab == 'global' ? 'var(--material-primary)': 'var(--ghost)' }"(click)="onGlobalTab()">Global</button>
    <button [ngStyle]="{ 'background-color': currentTab == 'emoji' ? 'var(--material-primary)': 'var(--ghost)' }"(click)="onEmojiTab()">Emoji</button>
  </div>
  @if (currentTab == "global") {
    <div class="global-tab">
        @for (x of globalEmotes; track $index) {
          @if (x['name'].includes(searchValue) || searchValue == '' ) {
            <button
                (mousemove)="updateHoverPositionGlobal($event)"
                (mouseenter)="OnMouseEnterGlobal(x['name'],x['images']['url_1x'])"
                (mouseleave)="OnMouseLeaveGlobal()"
                (click)="onEmote(x['name'])"
                >
                <img [src]="x['images']['url_1x']">
            </button>

          }
        }
    </div>

  }@else if (currentTab == "emoji") {
    <div class="emoji-tab">
        <span>this is the emoji tab</span>
    </div>

  }

  @if(showEmojiDesc) {
    <div class="emoji-desc" [ngStyle]="{ top: hoverY + 'px', left: hoverX + 'px' }">
      <img [src]="hoverEmojiUrl">
      <span>{{ hoverEmojiName }}</span>
    </div>
    }

</div>

