<app-menubar (close)="onExit()"></app-menubar>
<div class="top">
  <div class="search-bar">
    <input spellcheck=false [(ngModel)]="searchValue"  placeholder="Search...">
  </div>
  <div class="tabs">
    <button [class.active]="currentTab == 'global'"         (click)="onTab('global')">Global</button>
    <button [class.active]="currentTab == 'channel'" (click)="onTab('channel')">Channel</button>
  </div>
  @if (currentTab == "global") {
    @if (isLoading) {
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    }
    @if (!isLoading) {
    <h1 class="header">BetterTTV Global Emotes</h1>
    <div class="tab" animate.enter="enter-animation" >
      @for (emote of betterttvGlobal;track $index) {
        @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
        <button
         (mousemove)="updateHoverPositionGlobal($event)"
         (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
         (mouseleave)="OnMouseLeaveGlobal()"
         (click)="onEmote(emote.name)">
          <img [src]="emote.url_1x">
        </button>
        }
      }
    </div>

    <h1 class="header">7tv Global Emotes</h1>
    <div class="tab" animate.enter="enter-animation" >
      @for (emote of seventvGlobal;track $index) {
        @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
        <button
         (mousemove)="updateHoverPositionGlobal($event)"
         (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
         (mouseleave)="OnMouseLeaveGlobal()"
         (click)="onEmote(emote.name)">
          <img [src]="emote.url_1x">
        </button>
        }
      }
    </div>

    <h1 class="header">Twitch Global Emotes</h1>
      <div class="tab" animate.enter="enter-animation">
            @for (emote of globalEmotes; track $index) {
              @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
                <button
                    (mousemove)="updateHoverPositionGlobal($event)"
                    (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
                    (mouseleave)="OnMouseLeaveGlobal()"
                    (click)="onEmote(emote.name)"
                    >
                    <img [src]="emote.url_1x"> 
                </button>

              }
          }
      </div>
    }

  }@else if (currentTab == "channel") {
    @if (isLoading) {
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    }

    @if (!isLoading) {
      <h1 class="header">BetterTTV Channel Emotes</h1>
       @if (betterttvChannel.length > 0) {
       <div class="tab" animate.enter="enter-animation">
           @for (emote of betterttvChannel; track $index) {
              @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
                 <button
                     (mousemove)="updateHoverPositionGlobal($event)"
                     (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
                     (mouseleave)="OnMouseLeaveGlobal()"
                     (click)="onEmote(emote.name)">
                     <img [src]="emote.url_1x">
                 </button>

                 }

           }

      </div>
      }@else {
            <span class="header">This channel has no BetterTTV channel emotes </span>
      }

       <h1 class="header">7tv Channel Emotes</h1>
       @if (seventvChannel.length > 0) {
       <div class="tab" animate.enter="enter-animation">
           @for (emote of seventvChannel; track $index) {
              @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
                 <button
                     (mousemove)="updateHoverPositionGlobal($event)"
                     (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
                     (mouseleave)="OnMouseLeaveGlobal()"
                     (click)="onEmote(emote.name)">
                     <img [src]="emote.url_1x">
                 </button>

                 }

           }

      </div>
      }@else {
            <span class="header">This channel has no 7tv channel emotes </span>
      }


      <h1 class="header">Twitch Channel Emotes</h1>
            @if (channelEmotes.length > 0) {
              <div class="tab" animate.enter="enter-animation">
                  @for (emote of channelEmotes; track $index) {
                     @if (emote.name && emote.name.includes(searchValue) || searchValue == '' ) {
                        <button
                            (mousemove)="updateHoverPositionGlobal($event)"
                            (mouseenter)="OnMouseEnterGlobal(emote.name,emote.url_2x)"
                            (mouseleave)="OnMouseLeaveGlobal()"
                            (click)="onEmote(emote.name)">
                            <img [src]="emote.url_1x">
                        </button>

                        }

                  }

            </div>
          } @else {
            <span class="header">This channel has no Twitch channel emotes </span>
          }


    }
  }

  @if(showEmojiDesc) {
    <div class="hover-container" animate.enter="enter-animation" animate.leave="leave-animation" [ngStyle]="{ top: hoverY + 'px', left: hoverX  + 'px' }">
      <div class="hover-items">
        <img [src]="hoverEmojiUrl"> 
        <span>{{ hoverEmojiName }}</span> 
      </div>
    </div>
    }

</div>

