.container {
	text-align: left;
	white-space: wrap;
	border-radius: 5px;
  width: 97vw;
}

.reply-container{
  display: flex;
}

.reply-msg{
  color: var(--text-muted);
  word-wrap: break-word;
  max-width: 500px;
  overflow-wrap: break-word;
  white-space: normal;
}

.msg{
  word-wrap: break-word;
  max-width: 500px;
}

.hover-container{
  position: fixed;
}

span{
	font-size: var(--message-size);
}

.container:hover{
	background-color: rgba(var(--border-color-rgb),0.3);
}

.container.mention{
  background: rgba(255, 0, 0, 0.2);
}


::-webkit-scrollbar{
	display: none;
}

.badges{
}

.name{
	 cursor: pointer;
	 margin-left: 5px;
}


.hover span{
  font-size: 15px;
}

.badge-img{
  margin-right: 0.25em;
  z-index: 1000;
}

.badge-img:last-child{
  margin-right: 0;
  z-index: 1000;
}
