<div class="container">
      <span style="color: grey;margin-right: 5px" >{{ currentDate }}</span> 
      @if (currentBadges.images.length > 0) {
        @for (img of currentBadges.images; track $index) {
            <img class="badge-img"
            (mouseenter)="onBadgeHover(img.img,img.title)"
            (mousemove)="updateHoverPositionBadges($event)"
            (mouseleave)="onBadgeLeave()"
            [src]="img.img">
        }

      }
		  <a (click)="onUserCard()"><span class="name" [ngStyle]="{ 'color': userColor }">{{ currentName }}</span></a>:
		  <span style="color: white">
      @if (foundEmotes.length > 0) {
          @for (part of emoteMessage; track $index) {
            @if (part.includes('<img')) {
              <span
              (mouseenter)="OnMouseEnterGlobal(part, $index)"
              (mousemove)="updateHoverPositionEmotes($event)"
              (mouseleave)="OnMouseLeaveGlobal()"
              [innerHTML]="part"></span>
          } @else {
              <span>{{ part }} &#12;</span>
          }
      }
      }@else{
      {{ currentMessage }}
      }
      </span><br>

      @if (showGlobalEmojiDesc) {
        <div class="hover" [ngStyle]="{ top: hoverEmojiGlobalY + 'px', left: hoverEmojiGlobalX + 'px' }">
            <span>{{ currentHoverEmoteName }}</span>
        </div>


        }
      @if (showBadge) {
        <div class="hover" [ngStyle]="{ top: hoverBadgeY+ 'px', left: hoverBadgeX + 'px' }">
          <span>{{ currentHoverBadge.title }}</span>
        </div>


        }
</div>

