.container {
	 text-align: left;
	 white-space: wrap;
	 border-radius: 5px;
}

span{
	font-size: var(--message-size);
}

.container:hover{
	background-color: var(--border-color);
}


::-webkit-scrollbar{
	display: none;
}

.badges{
}

.name{
	 cursor: pointer;
	 margin-left: 5px;
}
.hover{
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  padding: 5px;
  min-width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.hover span{
  font-size: 15px;
}

.badge-img{
  margin-right: 0.25em;
}

.badge-img:last-child{
  margin-right: 0;
}
