@if (isReply) {
  <div class="reply-container">
    <span class="reply-msg">Answer To {{ reply.name }}: {{ reply.msg }}</span>
  </div>
}
<div class="container" (mouseenter)="onMessageHover()" (mouseleave)="onLeaveMessageHover()" #container [class.mention]="isMention">

      @if (showBadge) {
        <div class="hover-container" animate.enter="enter-animation" animate.leave="leave-animation" [ngStyle]="{ top: hoverBadgeY+ 'px', left: hoverBadgeX + 'px' }">
          <div class="hover-items" >
            <img  width="50" height="50" [src]="currentHoverBadge.img"> 
            <span>{{ currentHoverBadge.title }}</span>
          </div>
        </div>
        }
      <span style="color: grey;margin-right: 5px" >{{ currentDate }}</span> 
      @if (currentBadges.images.length > 0) {
        @for (img of currentBadges.images; track $index) {
            <img class="badge-img"
            (mouseenter)="onBadgeHover(img.img_2x,img.title)"
            (mousemove)="updateHoverPosition($event,'badge',hoverBadgeX,hoverBadgeY)"
            (mouseleave)="onBadgeLeave()"
            [src]="img.img">
        }

      }
		  <a (click)="onUserCard()"><span class="name" [ngStyle]="{ 'color': userColor }">{{ currentName }}</span></a>:
      @if (showGlobalEmojiDesc) {
        <div class="hover-container" animate.enter="enter-animation" animate.leave="leave-animation" [ngStyle]="{ top: hoverEmojiGlobalY + 'px', left: hoverEmojiGlobalX + 'px' }">
            <div class="hover-items">
              <img [src]="currentHoverEmote.img">
              <span>{{ currentHoverEmote.title }}</span>
            </div>
        </div>
        }
		    <span style="color: white">
        @if (foundEmotes.length > 0) {
            @for (part of emoteMessage; track $index) {
              @if (part.includes('img')) {
                <span
                (mouseenter)="OnMouseEnterGlobal(part, $index)"
                (mousemove)="updateHoverPosition($event,'emoji',hoverEmojiGlobalX,hoverEmojiGlobalY)"
                (mouseleave)="OnMouseLeaveGlobal()"
                [innerHTML]="part"></span>
            } @else {
                <span>{{ part }} &#12;</span>
            }
          }
        } @else {
           <span class="msg">{{ currentMessage }} </span>
         }
           @if (isHoveringMessage && !isOwnMessage) {
            <button (click)="onReplyToMessage()" title="Reply to this message" class="reply-button"><img width="20" src="reply.svg"></button>
           }
        </span><br>


</div>

