<div (click)="focusEntry()" class="screen"></div>
@if (showToast) {
    <div class="toast-container">
      @for (data of currentToastData; track $index) {
        <div (click)="onHideSingleToast($index)" class="toast">
          <app-toast [message]=data.message [time]=data.duration  (destroy)="onHideToast()"></app-toast>
        </div>
      }
    </div>
}

@if (showUserInChat) {
    <div #chatter class="chatter-container" >
      @for (chatter of chatterData; track $index) {
        <button [ngClass]="{ 'chatter-select': selectedChatter == $index }" (click)="onPasteUserInInput(chatter.user_name)">{{ chatter.user_name }}</button>
      }
    </div>
}

<app-topbar (click)="focusEntry()" (connect)="onConnect()" (disconnect)="onDisconnect()" (clearChat)="onClearChat()" (logout)="onLogout()"></app-topbar>
<div class="container" (click)="focusEntry()">

   <div class="chat-container" (click)="onDisableVerticalMenu()" #chat [style.font-size]="(zoomLevel * 16) + 'px'">
        @for (msg of messageObjects; track $index) {
              <app-chat [reply]="msg.reply" [emojis]="globalEmojiNames" [badges]="msg" [emojisChannel]="channelEmojis" [message]="msg.text"  [color]="msg.color" ></app-chat>
        }
    </div>

  <div class="chat-entry">
      <textarea
          #chatEntry
          spellcheck="false"
          [disabled]="!loginStatus"
          [placeholder]="placeholderString"
          [(ngModel)]="userChatMessage"
          (keydown)="onSendMessage($event)"
          (input)="adjustTextareaHeight()"
      ></textarea>
      <button (click)="onEmojiPicker()" class="emoji"><img width="20" height="20" src="emoji.svg"></button>

  </div>

</div>
