<div (click)="focusEntry()" class="screen"></div>
@if (showToast) {
    <div class="toast-container" >
      @for (data of currentToastData; track $index) {
        <div (click)="onHideSingleToast($index)" animate.enter="enter-animation" animate.leave="leave-animation" class="toast">
          <app-toast [message]=data.message [time]=data.duration  (destroy)="onHideToast()"></app-toast>
        </div>
      }
    </div>
}

@if (showUserInChat && chatterData && chatterData.length > 0) {
    <div #chatter animate.enter="enter-animation" class="chatter-container" >
        @for (chatter of chatterData; track $index) {
          <button [ngClass]="{ 'chatter-select': selectedChatter == $index }" (click)="onPasteUserInInput(chatter.user_name)">{{ chatter.user_name }}</button>
        }

    </div>
}

@if (isReplying) {
    <div class="reply-container" animate.enter="enter-animation" >
      <button (click)="onCancelReply()" style="position: absolute; top: 4px;right: 0px"><img src="close.svg"></button>
      <span style="font-size: 19px;color: var(--text-muted)">Antwort an: {{ replyData.name }} </span>
      <br>
      <div class="reply-msg-container">
        <span style="font-size: 19px;color: {{ replyData.color }};">
          {{ replyData.name }}: 
        </span> <span> {{ replyData.message }}</span>
      </div>
    </div>
}

@if (userScrolling) {
  <button (click)="onMoreMessages()" class="scrolled-up-container" animate.enter="enter-animation" animate.leave="leave-animation">
    <span class="scrolled-up-text" >More Messages below!</span>
  </button>
}

<app-topbar (switchChannel)="onSwitchChannel()" (click)="focusEntry()" (connect)="onConnect()" (disconnect)="onDisconnect()" (clearChat)="onClearChat()" (logout)="onLogout()"></app-topbar>
<div class="container" (click)="focusEntry()">

   <div class="chat-container" (mouseup)="onMouseUp()"  (wheel)="onScroll($event)" (click)="onDisableVerticalMenu()" #chat [style.font-size]="(zoomLevel * 16) + 'px'">
        @for (msg of messageObjects; track $index) {
              <app-chat
                [reply]="msg.reply"
                [id]="msg.msgId"
                [emojis]="globalEmojiNames"
                [betterttvGlobalEmotes]="betterttvGlobal"
                [betterttvChannelEmotes]="betterttvChannel"
                [seventvChannelEmotes]="seventvChannel"
                [seventvGlobalEmotes]="seventvGlobal"
                [badges]="msg"
                [emojisChannel]="channelEmojis"
                [message]="msg.text"
                (onReply)="onReplyingToMessage($event)"
                [color]="msg.color">
              </app-chat>
        }
    </div>

  <div class="chat-entry">
      <textarea
          #chatEntry
          spellcheck="false"
          [disabled]="!loginStatus"
          [placeholder]="placeholderString"
          [(ngModel)]="userChatMessage"
          (keydown)="onSendMessage($event)"
          (input)="adjustTextareaHeight()"
      ></textarea>
      <button (click)="onEmojiPicker()" class="emoji"><img width="20" height="20" src="emoji.svg"></button>

  </div>

</div>
