<app-topbar></app-topbar>
<div class="channel-name">
				<span (click)="onChooseChannel()"style="color:#84e6f8" >{{ currentChannel }}'s chat</span>
</div>
<br>
<div class="chat-container"  #chat>
				@for (msg of messages; track $index) {
								<app-chat [message]="msg"></app-chat>

				}
</div>

<div class="chat-entry">
 				<textarea
				#chatEntry
 				spellcheck="false"
 				[placeholder]="placeholderString"
 				[(ngModel)]="userChatMessage"
 				(keydown)="onSendMessage($event)"
 				></textarea>
 </div>
