
.chat-container{
				display: flex;
				flex-direction: column;
				height: 520px;
				overflow-y: scroll;
				overflow-x: hidden;
}

input{
				background: transparent;
				border: 1px solid white;
				color: white;
				outline: none;
				
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

