<div class="container">
  <h1 style="font-size: 30px; display: flex; justify-content: center">
    Hotkeys
  </h1>
  <div class="data-container">
    <table>
      <tr>
        <td>Ctrl,s</td>
        <td>Open: Switch Streamer Dialogbox</td>
      </tr>
      <tr>
        <td>Ctrl,f</td>
        <td>Open: Follow List</td>
      </tr>
      <tr>
        <td>Ctrl,o</td>
        <td>Open: Stream In Browser</td>
      </tr>
      <tr>
        <td>Ctrl,m</td>
        <td>Open: Mod View In Browser</td>
      </tr>
      <tr>
        <td>Ctrl,d</td>
        <td>Disconnect From Stream</td>
      </tr>
      <tr>
        <td>Ctrl,r</td>
        <td>Reconnect From Stream</td>
      </tr>
      <tr>
        <td>Ctrl,c</td>
        <td>Exit</td>
      </tr>
    </table>
  </div>
</div>
