.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.header {
    margin-bottom: 30px;
}

.header h1 {
    margin-bottom: 5px;
}

.header p {
    margin-top: 0px;
    color: grey;
}

.info {
    flex: 1;
}

.info h1 {
    margin-bottom: 5px;
}

.info p {
    margin-top: 0px;
    color: grey;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: var(--material-primary);
}
