<div class="container">
    <h1 class="about-header">About</h1>

    <div class="header">
        <h1>Lurker</h1>
        <p>this app is an opensource chat client for twitch.tv</p>
    </div>

    <div class="info">
        <h1>Development</h1>
        <p>This app is currently in development.</p>
        <a
            title="Link to the github repository"
            href="https://github.com/Moritz344/lurker"
            >Github repo</a
        >
        <br />
        <a
            title="Link to the github issues tab"
            href="https://github.com/Moritz344/lurker/issues"
            >Open issue here</a
        >
    </div>
</div>
