
<div class="container">
		<div class="top">
    <div class="right">
			  <span class="id">
          ID: {{ infos.id }}
        <button (click)="onCopyUserId()">
          <img src="copy.svg">
        </button>
        </span>
    </div>
				<img width="100" height="100" class="pfp" [src]="infos.profile_image_url">
					<div class="layout">
						 <span class="username" [ngStyle]="{ 'color': infos.user_color }"> <strong> {{ infos.display_name }} </strong> </span>
						 @if (infos.description) {
                <p class="desc"> {{ infos.description }} </p>
						}
							<span class="created">Account Created: {{ account_creation }}</span>
							@if (infos.broadcaster_type ) {
								<span class="view-count">Type: {{ infos.broadcaster_type}}</span>
							}
              <button (click)="onUserCard()" class="open-user-card">Open Usercard</button>
              <button class="block-user">Block User</button>
					</div>
			</div>

				<br>

				<div class="message-container">
            @if (messages.length == 1) {
                <span style="display:flex;justify-content: center;margin-top: 300px;font-size: 20px;user-select: none;color: var(--text-muted)">
                No New Messages From {{ infos.display_name }}
                </span>
                <span style="display:flex;justify-content: center;margin-top: 10px;font-size: 30px;user-select:none;color: var(--text-muted)">:/</span>
            }
            @for (msg of messages; track $index) {
                @if (msg.name && msg.date && msg.msg) {
				          <span>{{ msg.date }}</span>
				          <span [ngStyle]="{ 'color': infos.user_color}"> {{ msg.name }}: </span>
				          <span>{{ msg.msg }}</span> <br>

                }
              }
          <br>
  </div>

</div>

