
<div class="container">
		<div class="top">
					<span class="id"> ID: {{ infos.id }}</span>
												<img width="100" height="100" [src]="infos.profile_image_url">
															<div class="layout">
																		<span class="username" [ngStyle]="{ 'color': infos.user_color }"> <strong> {{ infos.display_name }} </strong> </span>
																		@if (infos.description) {
                                        <p class="desc"> {{ infos.description }} </p>
																		}@else{
																		}
																		<span class="created">Created: {{ infos.created_at}}</span>
																		@if (infos.broadcaster_type ) {
																										<span class="view-count">Type: {{ infos.broadcaster_type}}</span>
																		}
                                    <button (click)="onUserCard()" class="open-user-card">Open Usercard</button>
																</div>
								</div>

								<br>

								<div class="bottom">
																<div class="message">
																								<span>{{ infos.current_date }}</span>
																								<span [ngStyle]="{ 'color': infos.user_color}"> {{ infos.display_name}}: </span>
																								<span>{{ infos.last_message }}</span>
																</div>
								</div>

</div>

