.container {
  user-select: none;
}




span,
p,
strong {
  font-size: 17px;
}

.top {
  background-color: var(--bg-secondary);
  padding: 10px;
  height: 150px;
}

.username {
}

.right {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0px;
  gap: 0px;
}

.right img {
  width: 20px;
}

.right button {
  align-items: center;
  width: 40px;
  margin: 0px;
}

.pfp {
  border-radius: 5px;
  transition: 0.3s ease;
}
.pfp:hover {
  transform: scale(1.02);
}

.right button:hover {
  background: transparent;
}

.id {
  font-size: 15px;
  color: grey;
}

.open-user-card {
  position: absolute;
  right: 10px;
  top: 130px;
  font-size: 17px;
  background-color: var(--ghost);
}

.open-user-card:hover {
  background-color: var(--primary);
}

.unblock-user {
  position: absolute;
  right: 150px;
  font-size: 17px;
  top: 130px;
  background-color: var(--ghost);
}

.unblock-user:hover {
  background-color: var(--success);
}

.block-user {
  position: absolute;
  right: 150px;
  font-size: 17px;
  top: 130px;
  background-color: var(--ghost);
}

.block-user:hover {
  background-color: var(--danger);
}

.desc {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 60px;
}

.layout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
}

.top img {
  float: left;
  margin-right: 10px;
}

.message-bg {
  background-color: var(--bg-panel);
  position: absolute;
  top: 200px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}


.message-container {
  overflow-y: scroll;
  margin-top: -29px;
  margin-left: 0px;
  height: 90%;
  margin: 4px;
}



