.container {
    position: relative;
    z-index: 9999;
    background-color: var(--bg-color);
    border-radius: 0px;
    border: 1px solid var(--bg-color);
    overflow: hidden;
    height: 100%;
}

.broadcaster-container{
  display: grid;
  position: relative;
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  margin: 20px;
  margin-top: 0px;
  height: 280px;
  overflow-y:scroll;
}


.broadcaster-container button{
  display: flex;
  align-items:center;
  padding: 10px;
  position: relative;
}

.page-container button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px
}
.channel-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-left: 10px;
  margin-top: -20px;
  overflow-y: scroll;
  height: 410px;
}

.broadcaster{
  background-color: transparent;
}
.broadcaster:hover{
  background-color: var(--material-primary);
}

.backwards {
    transform: rotate(180deg);
}

.top-items{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: center;
}

.top-items input{
  margin-top: 0px;
  margin-left: 85px;
}


.arrows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    right: 10px;
    bottom: 50px;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.poll {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    margin-top: 10px;
    margin-left: -5px;
}
.poll input {
    width: 100px;
    margin-top: 0px;
}

span {
    font-size: 20px;
}

input {
    width: 200px;
    border: none;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.close-x {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 7px;
    right: 7px;
    background: transparent;
    align-items: center;
}
.close-x img {
    align-items: center;
    justify-content: center;
}

.close-x:hover {
    background-color: var(--ghost-hover);
}

.cancel:hover {
    background-color: var(--danger-hover);
}


.ok:hover {
    background-color: var(--success-hover);
}

button {
    background: var(--secondary);
    border: none;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: var(--secondary-hover);
}


.button-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

