<div class="container" #container>
    <div class="items">
        @if (data.function === "change_channel_name") {
            <span>{{ data.message }}</span>
            <input
                [(ngModel)]="inputValue"
                (keydown.code.enter)="onChannelNameSave()"
                spellcheck="false"
                [placeholder]="currentChannel"
            />
    <div class="button-layout">
        <button (click)="onChannelNameSave()" class="ok">Ok</button>
        <button (click)="onClose()" class="cancel">Cancel</button>
    </div>
  }
    <button class="close-x" (click)="onClose()">
        <img src="close.svg" />
    </button>
</div>
