<div class="container">
				<div class="items">
								<span>{{ data.message }}</span>
								@if(data.function === "change_channel_name") {
												<input [(ngModel)]="inputValue" (keydown.code.enter)="onChannelNameSave()" spellcheck=false [placeholder]="currentChannel">
												}@else if (data.function === "announcement") {
																<input [(ngModel)]="inputValueAnnouncement" (keydown.code.enter)="onAnnouncementSave()" spellcheck=false >
												}
				</div>

				<div class="button-layout">
												@if (data.function === "change_channel_name") {
																<button (click)="onChannelNameSave()" class="ok">Ok</button>
												}@else if (data.function === "announcement") {
																<button (click)="onAnnouncementSave()" class="ok">Ok</button>
												}
												<button (click)="onClose()" class="cancel">Cancel</button>
				</div>

				<button class="close-x" (click)="onClose()">
								<img src="close.svg">
				</button>
</div>
