<div class="header">
  <div class="header-left">
    <button (click)="onSettings()" title="Settings">
      <img src="settings.svg" />
    </button>
    <div class="tabs">
      @for (tab of currentTabs; track $index) {
        <app-tab (remove)="onRemoveTab($event)" (tabChange)="onChangeTab($event)" [data]="tab"></app-tab>
      }
      <button (click)="onAddButton()" title="Add streamer"><img src="add.svg"></button>
    </div>
  </div>

  <div class="header-center">
    <span class="channel-name"
      (click)="onChooseChannel()"
      (mouseenter)="onChannelNameHover()"
      (mouseleave)="onChannelNameLeave()">
      {{ currentChannel ? currentChannel + "'s chat" : "Not logged in" }}
    </span>
    @if (loginStatus) {
      @if (channelNameHover && streamInfoToShow) {
        <div class="stream-info">
          <img [src]="streamInfoToShow.thumbnail" />
          @if (streamInfoToShow.viewer_count) {
            <span style="position: absolute;top:10px;right: 10px;background:var(--black-low)"> 🔴 {{ streamInfoToShow.viewer_count }}</span>
          }
          <span >{{ streamInfoToShow.title }}</span>
        </div>
      }

    }
  </div>

  <div class="header-right">
    <button [class.logout]="!showLoginButton" [class.login]="showLoginButton" (click)="showLoginButton ? onLogin() : onLogout()" [title]="showLoginButton ? 'Login' : 'Logout'">
      @if (showLoginButton) {
        <img src="login.svg" />
        }@else {
        <img src="logout.svg" />
      }
    </button>
    @if (username == currentChannel) {
      <button title="Chatter List" (click)="onChatterList()"><img src="persons.svg"></button>
    }
    <button [class.active]="showMenuOptions" (click)="onMenu()"><img src="menu.svg"></button>

    @if (showMenuOptions) {
      <div (click)="onMenu()" class="dropdown-container"></div>
      <div class="dropdown-menu">
        @if (loginStatus) {
          <button (click)="onChooseChannel()">
            <img src="switch_account.svg">Switch Channel
          </button>
        }
        @if (loginStatus) {
          <button (click)="onOpenUserFollowList()">
            <img src="switch_account.svg">Open Follows
          </button>
        }
        @if (loginStatus) {
          <button (click)="onOpenStreamInBrowser()">
            <img src="open_in_browser.svg">Open In Browser
          </button>
        }
        @if (currentChannel === username) {
          <button (click)="onOpenModView()">
            <img src="mod_view.svg">Open Mod View
          </button>
        }
        @if (loginStatus) {
          <button (click)="onClearChat()">
            <img src="clear.svg">Clear Chat
          </button>
        }
        @if (isConnected ) {
          @if (loginStatus) {
            <button class="exit-btn" (click)="onDisconnect()">
              <img src="cancel.svg">Disconnect
            </button>
          }
        } @else {
          @if (loginStatus) {
            <button class="connect-btn" (click)="onConnect()">
              <img src="connect.png">Connect
            </button>
          }
        }
        @if (loginStatus) {
          <button class="connect-btn" (click)="onReconnect()">
            <img src="reconnect.svg">Reconnect
          </button>
        }
        <button class="exit-btn" (click)="onExit()">
          <img src="logout.svg">Exit
        </button>
      </div>
    }
  </div>
</div>



@if (showToast) {
  <div class="toast-container">
    @for (data of currentToastData; track $index) {
      <div (click)="onHideSingleToast($index)" class="toast">
        <app-toast [message]="data.message" [time]="data.duration" (destroy)="onHideToast()"></app-toast>
      </div>
    }
  </div>
}
