<div class="container">
    

    <button (click)="onSettings()" title="Settings">
        <img src="settings.svg" />
    </button>

    @if (showLoginButton) {
        <button title="Login" (click)="onLogin()">
            <img src="profile.svg" />

            <a></a>
        </button>
    } @else {
        <button title="Logout" (click)="onLogout()">
            <img src="profile.svg" />

            <a></a>
        </button>
    }
    <div class="tab-container">
      @for (tab of currentTabs; track $index) {
          <app-tab (remove)="onRemoveTab($event)" (tabChange)="onChangeTab($event)" [data]="tab"></app-tab>
        }
        <button (click)="onAddButton()">+</button>
    </div>
</div>
