<div class="topbar"></div>
<div class="container">

  <div (click)="onClose()" class="close">
    <button><img src="close.svg"></button>
  </div>


    <div class="options">
        <button
            [class.active]="settingsOption === 'general' "
            (click)="onSettings('general')"
        >
            <span>General</span>
        </button>
        <button
            [class.active]="settingsOption === 'hotkeys' "
            (click)="onSettings('hotkeys')"
        >
            <span>Hotkeys</span>
        </button>
        <button
            [class.active]="settingsOption === 'account' "
            (click)="onSettings('account')"
        >
            <span>Account</span>
        </button>
        <button
            (click)="onSettings('about')"
            [class.active]="settingsOption === 'about' "
        >
            <span>About</span>
        </button>
    </div>

    <div class="content-container">
        @if (settingsOption === "general") {
								<app-general></app-general>
        } @else if (settingsOption === "account") {
								<app-account></app-account>
        } @else if (settingsOption === "about") {
								<app-about></app-about>
        } @else if (settingsOption === "hotkeys") {
          <app-hotkeys></app-hotkeys>
        }
    </div>
</div>
