.container {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.theme{
  display: flex;
  flex-direction: column;
}


body{
}

.font{
  display: flex;
  justify-content: row;
  gap: 10px;
}

.font select{
  width: 100%;
}

.chat{}

.interface, .chat {
  margin-bottom: 30px;
}

.interface h1, .chat h1 {
    margin-bottom: 15px;
}

.chat-color{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

select{
  font-size: 17px;
  height: 35px;
}

.chat-color input{
  width: 20px;
}

.chat-color span{
  width: 100%;
}

.chat-time-format {
  display: flex;
  flex-direction: column;
}

.chat-time-format select{
  margin-top: -16px;
}

select{
  padding: 4px;
}


