.container {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

body{
}

.interface, .chat {
  margin-bottom: 30px;
}

.interface h1, .chat h1 {
    margin-bottom: 15px;
}

.dropdowns, .chat-selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

select {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border: 1px solid white;
  background-color: var(--material-background);
  color: white;
  height: 30px;
}

input {
  border: 1px solid white;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  background-color: var(--material-background);
  color: white;
}
