<div class="container">
    <h1 style="display:flex;justify-content: center;">General</h1>

    <div class="interface">
			<div class="inputs">
				</div>
        <br />
        Theme:
        <div class="theme">
            <select
                [(ngModel)]="currentTheme"
                (change)="updateSettings()">
                <option value="" disabled selected hidden>gruvbox</option>
                <option value="gruvbox">Gruvbox </option>
                <option value="gnome-dark">Dark Blue</option>
            </select>
        </div>
        <br />
        Font:
        <div class="font">
            <select
                style=""
                [(ngModel)]="currentFont"
                (change)="updateSettings()"
            >
								<option value="" disable selected hidden>Arial</option>
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Courier New">Courier New</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Impact">Impact</option>
            </select>
            <select [(ngModel)]="currentFontSize" (change)="updateSettings()">
								<option value="" disable selected hidden>20px</option>
                <option value="10px">10px</option>
                <option value="20px">20px (Default)</option>
                <option value="30px">30px</option>
            </select>
        </div>
    </div>

    <div class="chat">
        <h1>Chat</h1>
						<div class="chat-time-format">
								<select [(ngModel)]="currentTimeStampFormat" (change)="updateSettings()">
            		    <option value="" disable selected hidden>h:mm</option>
            		    <option value="disabled">disabled</option>
            		    <option value="h:mm">h:mm</option>
            		    <option value="h:mm:ss">h:mm:ss</option>
            		</select>
                
						</div>
            <div class="chat-color">
              <span>Chat Color </span>
              <input [(ngModel)]="currentChatColorState" (change)="updateSettings()" type="checkbox">
            </div>
    </div>
</div>
