<div class="container">
    <h1 style="display:flex;justify-content: center">General</h1>

    <div class="interface">
			<div class="inputs">
				</div>
        <br />
        Font:
        <div class="dropdowns">
            <select
                style=""
                [(ngModel)]="currentFont"
                (change)="updateSettings()"
            >
								<option value="" disable selected hidden>Arial</option>
                <option value="Arial">Arial</option>
                <option value="Verdana">Verdana</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Courier New">Courier New</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Impact">Impact</option>
            </select>
            <select [(ngModel)]="currentFontSize" (change)="updateSettings()">
								<option value="" disable selected hidden>20px</option>
                <option value="10px">10px</option>
                <option value="20px">20px (Default)</option>
                <option value="30px">30px</option>
            </select>
        </div>
        <br />
    </div>

    <div class="chat">
        <h1>Chat</h1>
						<div class="chat-selects">
								<select [(ngModel)]="currentTimeStampFormat" (change)="updateSettings()">
            		    <option value="" disable selected hidden>h:mm</option>
            		    <option value="disabled">disabled</option>
            		    <option value="h:mm">h:mm</option>
            		    <option value="h:mm:ss">h:mm:ss</option>
            		</select>
            		<select [(ngModel)]="currentChatColorState" (change)="updateSettings()">
            		    <option value="" disable selected hidden>enabled</option>
            		    <option value="enabled">Chat Color</option>
            		    <option value="disabled">No Chat Color</option>
            		</select>
						</div>
    </div>
</div>
